:root {
	--primary-color: #654f6f;
	--primary-dark: #14281d;
	--light-color: #f4dbd8;
	--background-color: #f4dbd8;
}

header h1 {
	font-family: "Francois One", sans-serif;
	font-size: 4rem;
	font-weight: 700;
	color: var(--background-color);
	background-color: #1c1630a5;
	padding: 1rem;
	width: 100vw;
	text-align: center;
}
